# Ignore everything except source and go.mod/sum
.git
*.md
*.log
*.swp
*.swo
*.tmp
*.bak
*.test
*.out
*.DS_Store
.vscode
.idea
node_modules
build
bin
vendor
# Ignore test and local config files
test/
*.local
*.env
*.example
tasks
LICENSE

# Ignore Docker artifacts
Dockerfile
.dockerignore
